@font-face {
  font-family: Roboto-Bold;
  src: url(Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(Roboto-Medium.ttf);
}



body
{
	margin:0;
	overflow-x: hidden;
}

/* 1ère partie ( avec la barre défilante + l'image d'accueil) */ 

#Accueil
{
	height: 550px;
}


#parentbarre
{
	display: flex;
	width:100%;
	justify-content: center;
	
	height: 70px;
	background-color: white;
	position: fixed;
	top:0px;
}

#barre
{
	display: flex;
	justify-content: space-between;
	
	background-color:white;
	
	width: 80%;
	height: 70px;
}

#bouton_accueil
{
   display: flex;
   justify-content: space-around;
   font-family: Roboto-Medium;
   font-size: 12px;
   width: 30%;
   align-items: center;
}

#bouton_accueil a
{
   text-decoration:none;
   color: grey;
   border-top:solid white 2px;
   height: 30px;
   display:flex;
   align-items:center;
   height: 65px;

}


#bouton_accueil a:hover
{
    border-top:solid #00BFFF 2px;

}



.image
{
	position:absolute;
	z-index:-2;
	top:70px;
}

#ecrituresdela_photo
{
	position:absolute;
	z-index:-1;
	top:250px;
	display:flex;
	justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 150px;
    width: 500px;
    margin-left: 135px;
    border: yellow solid 5px;
}

#webagency
{
	color :#00BFFF;
	display: flex;
	justify-content: flex-start;
	font-family:Roboto-Bold;
	font-size: 28px;
}




#lagencedetous
{
font-family: Roboto-Bold;
font-size: 28px;
color:white;
}


#vosprojects
{
font-family: Roboto-Bold;
font-size: 28px;
color:white;
display: flex;
align-items: : flex-end;

}

#vousavezunproject
{
font-size: 11px;
font-family: Roboto-Medium;
color: white
}

#petitespacevide
{
  width: 100px;

}

#boutoninfo
{
  color: white;
  background-color:#00BFFF;
  border-radius: 3px;
  height:32px;
  width:88px;
  display:flex;
  justify-content:  center;
  align-items: center;
  font-family: Roboto-medium;
  font-size: 14px;
  position: static;
  z-index: -2;
}

.partial-circle 
{
    width: 25px;
    height: 50px;
    background-color:black;
    opacity: 0.38;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    position: absolute;
    z-index: -1;
    top:320px;

    
}


.partial-circled {
 	width: 25px;
    height: 50px;
    background-color: black;
    opacity: 0.38;
    border-top-left-radius: 25px;
	border-bottom-left-radius:25px;
    position: absolute;
    z-index: -1;
    top:328px;
    left:1493px;
}

#boutonfleche
{
	margin:0;
}

#fleche {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  border-color:white;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  top:348px;
  left:1500px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  top:340px;
  left:5px;
}



/* 2ème partie ( avec la photo de l'ordinateur + la description  des compétences des professionelles) */


#partietitreservice
{
	display:flex;
	justify-content: : center;
	flex-direction: column;
	align-items: center;
}

#rien
{
	height : 90px;
}

#Servicestitre
{
	font-family:Roboto-Bold;
	font-size: 33px;
    display: flex;
	justify-content: center;
}

#espacetitre_construction
{
	height: 15px;
}

#construction
{
   display: flex;
   flex-direction: row;
   margin-top: -5px;
}

.lignegauchedelaboule
{
	background-color: black;
	width: 30px;
	height: 1px;
	margin-top: 5px;
}


.boulebleuclaire
{
	display: block;
	background: #00BFFF;
	border-radius: 50%;
	height: 12px;
	width: 12px;
	margin:0;

}

.lignedroitedelaboule
{
	background-color: black;
	width: 30px;
	height: 1px;
	margin-top: 5px;
}

#espacedeux
{
	height: 12px;
}



#latinhautuno
{
	 font-family:Roboto-Medium;
	font-size: 11px;
	display: flex;
	justify-content: center;
	
}

#latinbasuno
{
	 font-family:Roboto-Medium;
	font-size: 11px;
	display: flex;
	justify-content: center;
	
}


#interieur
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
    

}

#ordi
{
	height: auto;
	display: flex;
	justify-content: center;
	width: 40%;

}  

#ordi img
{
	width : 68%;
	height: auto;
}

#cornerright
{

	height: 280px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 550px;

}

.troisservice
{
	display: flex;
	align-items: center;
	justify-content:space-between;
	width:430px;
	
}

.boutonservice i
{
	font-size: 22px;
	color: #007bff;
  	border-radius:50%;
  	border: black solid 1px;
  	padding:5px;

}

.partietextservice
{

	height: auto;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.surgraseservice
{
  width: 385px;	
}

.grasservice
{
    font-family:Roboto-Medium;
	font-size: 13px;
	
}


.noirservice
{
    font-family:Roboto-Medium;
	font-size: 11px;
	
}

#intru
{

    font-family:Roboto-Medium;
	font-size: 11px;
	width: 385px;	
}

/* 3ème partie ( avec les quatres boutons + tout les exemples des travaux des professionelles ) */


#nosprojects

{
	border-color: green;
	border-width: 20px;
	display:flex;
	flex-direction:column;
	align-items: center;
}

#hautprojet
{
	margin-bottom: 50px;
}


#riendeux
{
	height: 80px;
}

#Portfolio
{
	font-family:Roboto-Bold;
	font-size: 33px;
    display: flex;
	justify-content: center;


}

#vide
{
	height: 12px;
}

#constructiondeux
{
   display: flex;
   flex-direction: row;
   justify-content: center;
}

#espacetrois
{
	height: 12px;
}

#latun
{
	 font-family:Roboto-Medium;
	font-size: 11px;
	display: flex;
	justify-content: center;
	
}

#latdeux
{
	 font-family:Roboto-Medium;
	font-size: 11px;
	display: flex;
	justify-content: center;
	
}

#boutonprojet
{
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 30px;
	align-items: center;
	font-size: 12px;
	margin-top: -10px;	
}

.boutonmem 
{
  color: black;
  
  height:30px;
  width:68px;
  display:flex;
  justify-content: center;
  align-items: center;
  
  background-color: #DCDCDC;
  font-family: Roboto-Medium;
}

 .boutonmem:hover 
{
    background-color:#007bff;


}

.boutonmem:hover .triangle
{
    
   opacity: 1;
}


.triangle
{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 7px 0 7px;
	border-color: #007bff transparent transparent transparent;
	margin-top:17px;
	position: absolute;
	opacity: 0;
}


#videux
{
	height: 28px;
}

#imageprojet
{
	display: flex;
	width: 100%;
	height : 297px;
	flex-direction: column;
	margin-top: 20px;


}


.conteneurrankone
{
	width: 100%;
	justify-content: center;
	display: flex;
	
}

.rankone
{
	height: 160px;
	display: flex;	
	width: 935px;
	justify-content: space-around;

    

}

.rankone img
{
	width: 208px;
	height: 135px;
	
}

.imgproj
{
	margin: 0;
	
}

.imgproj:hover figcaption 
{
	opacity: 1;
}





#img i 
{
	color: #007bff;
	opacity: 0;
	font-size: 22px;
	margin-left: 2000px;
}

figcaption
{
	color: white;
	font-size: 13px;
	height: 47px;
	width: 208px;
	margin-top: -50px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    font-size: 14px;
    opacity:0;
    display:flex;
    justify-content: space-around;
    align-items: center;
    

}

figcaption i
{
	
	width:15px;
	height:13px;
	color: white;
	border-radius: 50%;
	padding: 5px;
	border: white solid 1px;
	margin-top: -50px;
	font-size: 13px;
	background-color: #007bff;
}





/* 4ème partie ( avec le formulaire + la carte ) */



#lienjusqua_lacarte
{
	height: 178px;
	width: auto;
	font-family:Roboto-Bold;
	font-size: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
}
	
#placelesformulaires 
{
   width: 1500px;
   display: flex;
   position: absolute;
   margin-top: -400px;
   height: 450px;
}
#lesformulaires 
{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 80%;

}

#placefinal
{
	width: auto;
	height: 400px;
	background-color: #F0FFFF;
}

#formulaireback
{
   
   background-color: #F0FFFF;
   width: 310px;
   height: 70px;

}

#forcontact
{
	font-family:Roboto-Bold;
	font-size: 17px;
	height: 27px;
	padding-left: 15px;


}




#lestrois
{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-left: 15px;


}

#forgrise
{
	font-family: Roboto-Bold;
	
	font-size: 11px;

}

.forgris
{
	font-family: Roboto-Thin;
	font-size: 11px;

}
 
#formulaire form
{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   width: 280px;
   height: 250px;
   padding-left: 15px;
   padding-right: 15px;
}


#Message
{
	height: 125px;
	display:flex;
	align-items: flex-start;
}

#sendmessage
{
  color: white;
  background-color:#00BFFF;
  border-radius: 3px;
  height:32px;
  width:88px;
  display:flex;
  justify-content:  center;
  align-items: center;
  font-family: Roboto-medium;
  font-size: 12px;
  margin-left: 15px;
}














@media screen and (max-width: 1024px  )
{
	body
{
	width : 100%;
	overflow-x: hidden;
}

/* 1ère partie des medias queries ( avec la barre défilante + l'image d'accueil)  */ 

#Accueil
{
	
	width:100%;
	height: 750px;
}

#parentbarre
{ 
	height: auto;
	width: 100%;
	border: solid red;
}

#barre
{ 
	display:flex;
	width:100%;
	height:auto;
	flex-direction: column;
}

#logo
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 42px;
}

#bouton_accueil
{
   display: flex;
   justify-content: space-around;
   font-family: Roboto-Medium;
   font-size: 30px;
   width: 100%;
   align-items: center;
}

#bouton_accueil a
{
	font-size: 30PX.
}

.image
   {
      display: none;
   }   

#ecrituresdela_photo
{
	position:absolute;
	z-index:-1;
	top:250px;
	display:flex;
	justify-content: center;
    align-items: center;
    height: 600px;
    width: auto;
    top: 175px;
    border: solid 5px green;
    margin-left: 0px;
    background-color: grey;
    flex-wrap: wrap;
}

#webagency
{
	color :#00BFFF;
	display: flex;
	justify-content: flex-start;
	font-family:Roboto-Bold;
	font-size: 70px;
}




#lagencedetous
{
font-family: Roboto-Bold;
font-size: 70px;
color:#00BFFF;
}

#vosprojects
{
font-family: Roboto-Bold;
font-size: 70px;
color: #00BFFF;
display: flex;
align-items: : flex-end;

}


#vousavezunproject
{
font-size: 24px;
font-family: Roboto-Medium;
color: #00BFFF;

}

#conteneurboutoninfo
{
	width: 100%;
	border: 5px solid silver;
	justify-content: center;
	align-items: center;
}                                                    

#boutoninfo
{
  color: white;
  background-color:#00BFFF;
  border-radius: 3px;
  height:60px;
  width:138px;
  display:flex;
  justify-content:  center;
  align-items: center;
  font-family: Roboto-medium;
  font-size: 21px;
  position: static;
  z-index: -1;
  left: 350px;
  top: 710px;
  border: 5px solid brown;

  
  
}

.partial-circle 
{
    width: 0px;
    height: 0px;
 }


.partial-circled {
 	width: 0px;
    height: 0px;
	}

	#boutonfleche
{
	width: 0px;
    height: 0px;
}

#fleche {
  width: 0px;
    height: 0px;
    padding:0px;
	border-width:0 0px 0px 0;}


{
   font-size: 80px;
}

/* 2ème partie des Medias queries ( avec la photo de l'ordinateur + la description  des compétences des professionelles) */


#Servicestitre
{
	font-family:Roboto-Bold;
	font-size: 80px;
    display: flex;
	justify-content: center;
}

.boulebleuclaire
{
	display: block;
	background: #00BFFF;
	border-radius: 50%;
	height: 24px;
	width: 24px;
	margin:0;

}

#latinhautuno
{
	 font-family:Roboto-Medium;
	font-size: 30px;
	display: flex;
	justify-content: center;
	
}

#latinbasuno
{
	 font-family:Roboto-Medium;
	font-size: 30px;
	display: flex;
	justify-content: center;
	
}

#interieur
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	
}

#ordi 
{
	width: 0px;
	height: 0px;
}

#cornerright
{

	height: 1500px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: auto;
}

.troisservice
{
	display: flex;
	align-items: center;
	justify-content:space-between;
	width:auto;
	flex-direction: column;
}



.partietextservice
{
	height:auto;
	width: auto;
	justify-content: center;
	align-items: center;
}


.boutonservice i
{
	font-size: 55px;
	color: #007bff;
	padding: 20px;
}
 




.surgraseservice
{
 
  width: 785px;	
}


.grasservice
{
  font-size: 44px;
  display: flex;
  justify-content: center;
}


.noirservice
{
	font-size: 35px;
	display: flex;
	justify-content: center;
}

#intru
{
	font-size: 35px;
	width: auto;
	display: flex;
	justify-content: center;
}

/* 3ème partie ( avec les quatres boutons + tout les exemples des travaux des professionelles ) */

#Portfolio
{
	font-size: 80px;
}



.lignegauchedelaboule
{
	background-color: black;
	width: 60px;
	height: 2px;
	margin-top: 10px;
}


.lignedroitedelaboule
{
	background-color: black;
	width: 60px;
	height: 2px;
	margin-top: 10px;
}

#latun
{
font-size: 30px;	
}

#latdeux
{
font-size: 30px;	
}

.boutonmem 
{
  height:60px;
  width:136px;
  font-size: 24px;
 }

 .triangle
{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 14px 14px 0 14px;
	border-color: #007bff transparent transparent transparent;
	margin-top:36px;
	position: absolute;
	opacity: 0;
}

#imageprojet
{
	height: auto;
	border: red solid 5px;
}




.rankone
{
	height: auto;
	display: flex;	
	width: 935px;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}

.rankone img
{
	width: 100%;
	height: 100%;

	
}

 figcaption
{
	color: white;
	font-size: 26px;
	display: flex;
	flex-direction: column;
	height: 94px;
	width: 600px;
	justify-content: space-around;
	margin-top: -100px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    font-size: 28px;
    opacity: 1;
}

figcaption b
{
	margin-top:-35px;
}

figcaption i
{

	width:45px;
	height:40px;
	color: white;
	border-radius: 50%;
	padding: 7px;
	border: white solid 1px;
	margin-top: -230px;
	margin-left:400px;
	font-size: 40px;
	background-color: #007bff;
}

/* 4ème partie des Medias queries ( avec le formulaire + la carte ) */

#nouscontacter
{
	height: auto;
	display:flex;
	flex-direction: column;

}

#lienjusqua_lacarte
{
	font-size: 70px;
	top: 50px;
}

#lensemble
{
	display: flex;
	flex-direction: column-reverse;
}


iframe
    
{
  width: 100%;
  height:  600px;
}

#placelesformulaires

{
   height: 700px;
   width: 100%;
   margin-top: 0px;
   position: static;
}

#lesformulaires 
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: 100%;

}

#placefinal
{
	width: 100%;
	height:500px;
	display: flex;
	flex-direction: column;

}


#formulaireback
{
   width: 100%;
   height: 150px;
}

#forcontact
{
	border: 5px solid blue;
	height: 45px;
	display: flex;
	align-items: center;
	font-size: 33px;
	justify-content: center;
}

#lestrois
{
	border: solid green 5px;
	height: 105px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#forgrise
{
	font-size: 25px;
}

.forgris
{
	font-size: 25px;
}


#conteneurformulaire
{
	border: 5px solid yellow;
	height: 750px;
}

#formulaire
{
	width: auto;
	align-items: center;
	height: 450px;
	border: brown solid 5px;
}

#formulaire form
{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   width: 90%;
   height: 350px;
   padding-left: 15px;
   padding-right: 15px;
   border: blue solid 5px;
   margin: 0px;
}

#formulaire input
{
	font-size: 22px;
	width: 100%;
}

#Message
{
  font-size: 22px;

}


#sendmessage
{
  color: white;
  background-color:#00BFFF;
  border-radius: 3px;
  height:64px;
  width:170px;
  display:flex;
  justify-content:  center;
  align-items: center;
  font-family: Roboto-medium;
  font-size: 24px;
  position:static;
  border: 5px solid red;
}




}


